@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

:root {
  --bg-main: rgba(35, 31, 66, 1);
  --text-white: rgba(255, 255, 255,1);
  --text-pink: rgba(245, 107, 154, 1);
  --text-green: rgba(55, 174, 171, 1);
  --text-grey: rgba(255, 255, 255, 0.7);
  --text-receipt-grey: rgba(0,0,0,0.6);
  --searchbar: rgba(255, 255, 255, 0.1);

  --font-primary: "Sansita", sans-serif;
  --font-sub: "Fira Sans", sans-serif;

  --btn: rgba(55, 174, 171, 1);

  --receipt-border: rgba(0,0,0,0.4);
  --receipt-bg1: rgba(0, 0, 0, 0.03);
  --receipt-bg2: rgba(0, 0, 0, 0.06);
  --receipt-bg3: rgba(0, 0, 0, 0.09);
  --receipt-barcode: rgba(0, 0, 0, 0);
  --receipt-barcode2: rgba(0,0,0,0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display:flex;
	height: 100vh;
	align-items:flex-start;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-main);
}

